
.mr-10 {
    margin-right: 10px;
}

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.bnt-search {
    position: relative;
    bottom: 5px;
}

.none {
    display: none;
}