

.cursor-pointer {
    cursor: pointer;
}

.mr-5 {
    margin-right: 5px;
}

.arrow-back {
    position: relative;
    top: -1px !important;
}

.mat-mdc-table {
    background-color: unset !important;
}

.ml-25 {
    margin-left: 25px;
}

.mr-20 {
    margin-right: 20px;
}

.space-between {
    justify-content: space-between;
}