.mr-20 {
    margin-right: 20px;
}

.email-bnt {
    background-color: #F1F1F1;
    color: black;
}

.cursor-pointer {
    cursor: pointer;
}

.arrow-back {
    position: relative;
    top: -2px !important;
}